.expenses-list {
    max-height: 65vh;
    overflow-y: scroll;
    scrollbar-color: #6fc3c2cc #ffffff4d;
}

@media (min-width: 60rem) {
    .expenses-list {
        margin: 0.5rem;
        max-height: 45vh;
    }
}